{% extends 'base.html.twig' %}

{% block title %}Symfony with webpack{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
{% endblock %}

{% block body %}

<div class="container">
	<div class="child">
		<div>
			Nom : <span>RAFALIMANANA</span>
		</div>
		<div>
			Prénom : <span>Fabrice Clément</span>
		</div>
	</div>
	<div class="other">
		<p>
			Je suis un développeur full stack.
		</p>
	</div>
</div>
{% endblock %}
